{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('personal_records') }}">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">Player Statistics</legend>
            <div class="form-group">
                {{ form.player_id.label(class="form-control-label") }}
                {% if form.player_id.errors %}
                    {{ form.player_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.player_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.player_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}